.navbar-style{
    font-size: 1.2em;
}

.brand-style{
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: #fafafa;
}

.textNavbar-style{
    text-decoration: none;
    color: white;
}